<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Revon.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Revon.UI.Properties.Settings>
            <setting name="FileURL" serializeAs="String">
                <value>https://res.cloudinary.com/nextir/raw/upload/v1577019912/Revit/Families/LI1002R_lbpfte.rfa</value>
            </setting>
            <setting name="ThumbnailURL" serializeAs="String">
                <value>https://res.cloudinary.com/nextir/image/upload/v1577018936/samples/ecommerce/analog-classic.jpg</value>
            </setting>
        </Revon.UI.Properties.Settings>
    </userSettings>
</configuration>